CompileFlags:
  Add:
    - -std=c11
    - -std=c++20
    - -stdlib=libc++

    - -isystem/usr/include/c++/9
    - -isystem/usr/include/x86_64-linux-gnu/c++/9

    - -I/mnt/c/dev/rack/gtnosft-rack/src
    - -I/mnt/c/dev/rack/gtnosft-rack/src/osc
    - -I/mnt/c/dev/rack/gtnosft-rack/dependencies
    - -I/mnt/c/dev/rack/gtnosft-rack/dependencies/oscpack
    - -I/mnt/c/dev/rack/gtnosft-rack/dependencies/oscpack/osc
    - -I/mnt/c/dev/rack/gtnosft-rack/dependencies/oscpack/ip
    - -I/mnt/c/dev/rack/gtnosft-rack/dependencies/oscpack/ip/win32
    - -I/mnt/c/dev/rack/gtnosft-rack/dependencies/qoi
    - -I/mnt/c/dev/rack/rack-git/include
    - -I/mnt/c/dev/rack/rack-git/dep/include
